* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.abouthead {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(/Assets/about.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.aboutsection {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white; 
    max-width: 80%; 
    padding: 20px; 
}


.aboutsection h1{
    color: #fff;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.aboutsection p{
    color: #fff;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

