<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Contact.css">
</head>
<body>
    
    <div class="cardhead">
        <img src="../Pages/Bigstock_245792506.jpg" />
    </div>


    <div class="Card">
        <div class="onecard">
            <img src="../Pages/four.png" alt="/_next/static/media/18.dc245f8a.svg">
            <h1>Partner enguiry</h1>
            <p>Interested in partnering? Explore partnership possibilities with us. Lets create synergies together for mutual success.&nbsp;</p>
            <button style="cursor: none;">Get In Touch</button>
        </div>

        <div class="onecard">
            <img src="../Pages/two.png" alt="/_next/static/media/18.dc245f8a.svg">
            <h1>Product Support</h1>
            <p>Interested in partnering? Explore partnership possibilities with us. Lets create synergies together for mutual success.&nbsp;</p>
            <button style="cursor: none;">Get In Touch</button>

        </div>

        <div class="onecard">
            <img src="../Pages/three.png" alt="/_next/static/media/18.dc245f8a.svg">
            <h1>Sales enquiry</h1>
            <p>Interested in partnering? Explore partnership possibilities with us. Lets create synergies together for mutual success.&nbsp;</p>
            <button style="cursor: none;">Get In Touch</button>

        </div>

    </div>
</body>
</html>